.payment .row .col-sm-12 > h1 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1.28px;
  color: #242424;
  margin-bottom: 30px;
}



.payment .col-md-4 .order-details {
  height: 674.78px;
}

.payment .col-md-8 form,
.payment .col-md-4 .order-details {
  border-radius: 16px;
  padding: 40px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

.payment .col-md-8,
.payment .col-md-4 {
  margin: 50px 0 0 0;
}

.payment .col-md-8 form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.payment .col-md-8 form .mb-4 {
  width: 45%;
}

.payment .col-md-8 form .mb-4 input {
  border: 1px solid #707070;
  border-radius: 6px;
  background-color: transparent;
}

.payment .col-md-8 form .mb-4 label {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #707070;
}

.payment .col-md-8 form h2 {
  width: 100%;
  padding: 10px 0;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.28px;
  color: #242424;
}

.payment .col-md-8 form h2:last-of-type {
  margin-top: 50px;
}

.payment .order-details .order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment .order-details .order h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.28px;
  color: #242424;
}

.payment .order-details .order p {
  font-size: 22px;
  text-decoration: underline;
  letter-spacing: 0.44px;
  color: #707070;
}

.payment .order-details .product-details .product {
  margin-top: 20px;
}

.payment .order-details .product-details .product,
.payment .order-details .product-details .product .price {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.payment .order-details .product-details .product .info {
  width: 80%;
}
.payment .order-details .product-details .product .info p {
  letter-spacing: 0.44px;
  color: #707070;
  font-size: 22px;
  text-transform: capitalize;
}



.payment .btn-review  a{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  text-decoration: none;
}

.payment .btn-review a button {
  background: #fcdd06 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: #242424;
  text-transform: capitalize;
  max-width: 324px;
  width: 100%;
  text-align: center;
}
