 form{
    width: 100%;
}

 form label {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #242424;
}

 form input {
  border: 1px solid #242424;
  border-radius: 6px;
}

 form .form-control::placeholder{
    color: #707070;
}

 form .form-control:focus,
 form .form-control:active,
 form .form-control:active:focus{
    box-shadow: none;
    border: 1px solid #242424;
}

 form button.btn{
    border-radius: 6px;
}