.create-product-section .forms-product {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 20px;
}
.create-product-section h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.28px;
  color: #242424;
  margin-bottom: 30px;
}

.create-product-section h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.28px;
  color: #242424;
}

.create-product-section .col-md-4 form .mb-4 {
  width: 100%;
}

.create-product-section form:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.create-product-section .forms-product form label {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #707070;
}

.create-product-section .col-md-8 form .mb-4 {
  width: 45%;
}

.create-product-section form input,
.create-product-section form textarea {
  background-color: transparent;
  resize: none;
}

.create-product-section form:last-of-type .mb-4:nth-of-type(5) {
  width: 100%;
}

.create-product-section .product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-product-section .upload-file {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px dashed #707070;
  border-radius: 10px;
}

.create-product-section .upload-file .form-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}

.create-product-section .upload-file .icon-upload {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.create-product-section .upload-file .icon-upload .fa-cloud-arrow-up {
  font-size: 70px;
  color: #707070;
}

.create-product-section .product-image .images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
.create-product-section .product-image .images .img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #707070;
  border-radius: 10px;
}
.create-product-section .product-image .images .img .fa-plus {
  font-size: 25px;
  color: #707070;
}

.create-product-section .submit-product {
  /* background-color: #fff; */
  margin-top: 50px;
}

.create-product-section .submit-product .submit-btn {
  background: #4bb543 0% 0% no-repeat padding-box;
  border-radius: 6px;
  color: #fff;
  width: 25%;
  font-size: 24px;
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
