.login {
  padding: 50px 0;
}

.login h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 2.4px;
  color: #242424;
}

.login p {
  font-size: 32px;
  letter-spacing: 1.28px;
  color: #707070;
  margin-bottom: 50px;
}

.login form label {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #242424;
}

.login form .form-control {
  border: 1px solid #242424;
  border-radius: 6px;
}

.login form .form-control::placeholder{
    color: #707070;
}

.login form .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0 0 0;
}

.login form a{
  text-decoration: none;
}

.login form .btn-login {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #242424;
  border-radius: 6px;
}

.login form .btn-login:active,
.login form .btn-login:hover,
.login form .btn-login:focus,
.login form .btn-login:active:focus{
  background-color: #fcdd06;
}

.login form .form-check label {
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #707070;
}

.login form .forgot-password a {
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.88px;
  color: #242424;
  text-decoration: none;
  display: block;
}

.login .btn-signup {
  display: flex;
  justify-content: center;
}

.login .btn-signup a {
  text-decoration: none;
  max-width: 220px;
  width: 100%;
}
.login .btn-signup a button {
  border: 3px solid #fcdd06;
  border-radius: 20px;
  background: #fff;
  letter-spacing: 0.88px;
  color: #242424;
  font-size: 22px;
}

.login .btn-signup a:hover button {
  background: #fcdd06;
  border: 3px solid #fcdd06;
}

.login hr{
    margin-bottom: 50px;
}


