.profile-section {
  padding: 20px;
}

.profile-section .profile-menu {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 16px;
}

.profile-section .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile-section .image img {
  border: 2px solid #fcdd06;
}
.profile-section .image p {
  font-size: 24px;
  font-weight: bold;
  color: #242424;
  text-transform: capitalize;
}

.profile-section ul {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
  font-size: 24px;
  color: #242424;
  margin-top: 20px;
}

.profile-section .profile-menu ul li {
  padding: 20px 0 0 20px;
}

.profile-section .profile-menu ul li:last-of-type {
  padding: 0 0 20px 20px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 20px;
    max-height: 527px;
  height: 100%;
}

.profile-info .info {
  width: 50%;

}

.profile-info .info h3 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.28px;
  color: #242424;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.profile-info .info p {
  font-size: 24px;
  letter-spacing: 0.96px;
  color: #707070;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.profile-info .info p span {
  color: #000;
  width: 40%;
}

.profile-info .info .change-password,
.profile-info  .upload-image {
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #000000;
  text-transform: capitalize;
  max-width: 152px;
  width: 100%;
}

.profile-info  .upload-image {
  margin-top: 40px;
}

.profile-info .info .change-password:active,
.profile-info .upload-image:active,
.profile-info .info .change-password:hover,
.profile-info .upload-image:hover,
.profile-info .info .change-password:focus,
.profile-info .upload-image:focus,
.profile-info .upload-image:active:focus ,
.profile-info .info .change-password:active:focus {
  background-color: #fcdd06;
}
