.slider {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  padding: 50px 0;
  height: 678px;
}

.slider button.btn-slide {
  border-radius: 20px;
  max-width: 220px;
  font-size: 22px;
  padding: 11.5px 0;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #707070 0% 0% no-repeat padding-box;
  width: 25px;
  height: 25px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fcdd06 0% 0% no-repeat padding-box;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000;
  font-weight: 900;
}

.slider .discount,
.slider .description {
  font-size: 32px;
  font-weight: 300;
  color: #242424;
}

.slider .title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: #242424;
  text-transform: uppercase;
}


